body {
    margin: 0;
    background: #e3e8e6;
}

.header {
    background: #303030;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    height: 50px;
}

.header-menu__home {
    position: absolute;
    left: 0;
}

.header-menu__link {
    display: block;
    line-height: 50px;
    min-width: 100px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 30px;
    font-size: 14px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.header-menu__link:hover {
    background: #575454;
}

.main {
    background: #e3e8e6;
}

.main-profile {
    display: flex;
    height: 200px;
    font-family: 'Raleway', cursive;
}

.main-profile__avatar {
    height: 152px;
    width: 152px;
    padding: 24px;
    padding-left: 24px;
    background-image: url(images/avatar.jpg);
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-profile__info {
    height: 200px;
    width: calc(100% - 200px);
}

.main-profile__info__sec1 {
    display: flex;
    height: 50px;
}

.sec1__nickname {
    margin: 10px;
    margin-left: 10px;
    font-size: 30px;
}

.sec1__edit {
    font-size: 17px;
    margin-top: 22px;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.main-profile__info__sec2 {
    height: 50px;
}

.main-profile__info__sec2__stat {
    margin: 0;
    padding: calc(57px / 2);
    list-style: none;
    word-spacing: 5px;
}

ul.main-profile__info__sec2__stat > li {
    display: inline;
}

.subscriber_amount, .subscription_amount {
    color: black;
    text-decoration: none;
}

.main-profile__info__sec3 {
    display: flex;
    height: 50px;
}

.about__fullname {
    margin: 10px;
    margin-left: 10px;
    font-size: 30px;
}

.about_me {
    font-size: 17px;
    margin-top: 22px;
    margin-left: 10px;
}

.main-profile__info__sec4 {
    height: 50px;
}

#uploadFile, #clickbutton {
    font-family: 'Gloria Hallelujah', cursive;
}

#uploadFile {
    padding-left: 10px;
    padding-top: 15px;
}

.main-collage {
    width: 80%;
    margin: 12px auto;
    overflow: hidden;
}

.publication {
    color: #e3e8e6;
    float: left;
    width: 21%;
    margin:  2% 2% 5px 2%;
}

.publication img {
    max-width: 100%;
}

@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
    .publication {width: 21%;}
}
  
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .publication {width: 29.33333%;}
}
  
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .publication {width: 46%;}
}
  
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .publication {width: 96%;}
    .publication img {width: 96%;}
}
